/*  Custom styles */
body {
  font-family: 'Inconsolata', monospace;
}

.container {
  width: 70%;
  margin: 0 15%
}

.description {
  width: 45%;
  float: left;
  margin-right: 5%;
}

.documentation {
  width: 45%;
  float: left;
  margin-left: 5%; 
  margin-top: 50px;
}

a, a:hover, a:visited {
  text-decoration: underline;
  font-weight: 800;
  color: black;
}