html, body {
	width: 100%;
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
}

.instructions {
	background: white;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	padding: 5px;
	color: black;
	z-index: 1;
	transition: all 200ms ease-in;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	opacity: 1;
}

.instructions.out {
	opacity: 0;
}

.next {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 2px solid black;
	background: white;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.submit {
	height: 45px;
	width: 100px;
	bottom: 10px;
	left: 50%;
	position: fixed;
	transform: translateX(-50%);
	border: 2px solid black;
	border-radius: 45px;
	-webkit-border-radius: 45px;
	direction: rtl;
	font-weight: bold;
	-moz-border-radius: 45px;
	text-align: center;
}

